legacy-peer-deps=true
# Skip downloading platform-specific SWC binaries
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
swc_binary_host=https://npmmirror.com/mirrors/node-swc
next_swc_binary_host=https://npmmirror.com/mirrors/next-swc-binary 